{% extends 'master.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../../../App/layndon/css/admin.css">
{% endblock %} 

{% block admin %}
    <div class="container mt-5">
	{% if films is not empty %}
		<div class="table-responsive">
			<table class="table table-bordered bg-white table-sm" id="films">
				<div class="row">
					{% for film in films %}
					    <tr class="{{film.id_film}}">
					    	<td class="col-2"><img id='poster' src= {{film.image}} class="img-fluid"></td>
					        <td class="col-2">Titulo:</td>
					        <td class="col-3">{{film.title}}</td>
					        <td class="col-3">
					        	<input id="{{film.id_film}}" class="see-image" type="image" src="../../../App/layndon/img/lupa.png" width="25">
					        	<input id="{{film.id_film}}" class="edit-image" type="image" src="../../../App/layndon/img/editar.png" width="25">
					        	<input id="{{film.id_film}}" class="delete-image" type="image" src="../../../App/layndon/img/eliminar.png" width="25">
					        </td>
					    </tr>
					{% endfor %}			
				</div>
			</table>
		</div>			  
	{% endif %}
    </div>
	<form  method="post" action="{{ path_for ('add-film') }}" class="form-inline justify-content-center flex-column flex-lg-row">
		<div class="form-group my-2">
			<label for="filmName" class="d-none d-md-block text-white" >PELICULA</label>
			<input type="text" id="filmName" name="film" placeholder="Nombre de la pelicula" class="form-control mx-3" required="" autofocus="">
		</div>
		<div class="form-group my-2">
			<label for="filmDate" class="d-none d-md-block text-white" >FECHA</label>
			<input type="text" id="filmDate" name= "date-film" placeholder="Fecha de exposición" class="form-control mx-3">
		</div>
		<div class="form-group mx-3">
			<input type="submit" value="Añadir" class="btn btn-success">
		</div>
	</form>	
{% endblock %}

{% block js %}

	<script type="text/javascript" src="../../../App/layndon/js/admin/admin.js"></script>
{% endblock %}
